# ---------- IntelliJ IDEA ----------
.idea/
*.iml
*.iws
*.ipr

# ---------- Результаты сборки Java / Maven / Gradle ----------
out/
build/
target/
.gradle/
*.class
*.jar
*.war
*.log
hs_err_pid*

# ---------- Операционная система ----------
.DS_Store
Thumbs.db
desktop.ini

# ---------- Временные файлы редакторов и Office ----------
*.swp
*~
~$*.docx
*.tmp
